In [15]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [16]:
# importing data frame
path = r'C:\Users\ali\OneDrive\Desktop\careerfoundry\Data Immersion\Achievement 4\15-08-2025 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared Data', 'ords_prods_merge_updated.pkl'))

In [17]:
#creating subset
df = ords_prods_merge[:1000000]

In [18]:
df.shape

(1000000, 17)

In [19]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,1,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average Orders
1,2539329,1,1,2,8,NaN,1,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average Orders
2,2539329,1,1,2,8,NaN,1,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average Orders
3,2539329,1,1,2,8,NaN,1,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average Orders
4,2539329,1,1,2,8,NaN,1,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average Orders

In [20]:
#splitting data in to groups
df.groupby('product_name')

### Aggregating Data with agg()

In [21]:
# grouping data by department_id and finding mean of order_number
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.799835
2                17.091743
3                17.913113
4                17.892927
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.488587
12               15.615061
13               16.483771
14               17.524632
15               15.691875
16               18.013802
17               16.148899
18               19.602850
19               17.631171
20               17.138607
21               21.956893

In [22]:
# calculating average using mean() function instead of agg()
df.groupby('department_id')['order_number'].mean()

department_id
1     14.799835
2     17.091743
3     17.913113
4     17.892927
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.488587
12    15.615061
13    16.483771
14    17.524632
15    15.691875
16    18.013802
17    16.148899
18    19.602850
19    17.631171
20    17.138607
21    21.956893
Name: order_number, dtype: float64

### Performing multiple aggregations

In [23]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.799835   1  99
2                17.091743   1  98
3                17.913113   1  99
4                17.892927   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.488587   1  99
12               15.615061   1  99
13               16.483771   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.013802   1  99
17               16.148899   1  99
18               19.602850   1  99
19               17.631171   1  99
20               17.138607   1  99
21               21.956893   1  97

### Aggregating data with transfrom()

In [24]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Ali\AppData\Local\Temp\ipykernel_13692\1681540670.py:1: FutureWarning: The provided callable <function max at 0x0000020FAEE599E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [25]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,1,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average Orders,10
1,2539329,1,1,2,8,NaN,1,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average Orders,10
2,2539329,1,1,2,8,NaN,1,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average Orders,10
3,2539329,1,1,2,8,NaN,1,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average Orders,10
4,2539329,1,1,2,8,NaN,1,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average Orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,0,21150,13,0,Fire Grilled Steak Bowl,38,1,5.9,Mid-range product,Regularly busy,Most Orders,14
96,1673511,2,5,3,11,8.0,0,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,Mid-range product,Slowest days,Most Orders,14
97,1673511,2,5,3,11,8.0,0,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,Low-range product,Slowest days,Most Orders,14
98,1673511,2,5,3,11,8.0,0,17224,3,0,Oats & Honey Gluten Free Granola,3,19,1.6,Low-range product,Slowest days,Most Orders,14
99,1673511,2,5,3,11,8.0,0,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,Low-range product,Slowest days,Most Orders,14

In [26]:
#function to dispaly unlimited rows in your notebook
pd.options.display.max_rows = None

### Deriving columns with loc()

In [27]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [28]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876441
Loyal customer      10284025
New customer         6243823
Name: count, dtype: int64

In [29]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(100)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             1         10
2         1      New customer             1         10
3         1      New customer             1         10
4         1      New customer             1         10
5         1      New customer             2         10
6         1      New customer             2         10
7         1      New customer             2         10
8         1      New customer             2         10
9         1      New customer             2         10
10        1      New customer             2         10
11        1      New customer             3         10
12        1      New customer             3         10
13        1      New customer             3         10
14        1      New customer             3         10
15        1      New customer             3         10
16        1      New customer             4         10
17        1      New customer             4         10
18        1      New customer             4         10
19        1      New customer             4         10
20        1      New customer             4         10
21        1      New customer             5         10
22        1      New customer             5         10
23        1      New customer             5         10
24        1      New customer             5         10
25        1      New customer             5         10
26        1      New customer             5         10
27        1      New customer             5         10
28        1      New customer             5         10
29        1      New customer             6         10
30        1      New customer             6         10
31        1      New customer             6         10
32        1      New customer             6         10
33        1      New customer             7         10
34        1      New customer             7         10
35        1      New customer             7         10
36        1      New customer             7         10
37        1      New customer             7         10
38        1      New customer             8         10
39        1      New customer             8         10
40        1      New customer             8         10
41        1      New customer             8         10
42        1      New customer             8         10
43        1      New customer             8         10
44        1      New customer             9         10
45        1      New customer             9         10
46        1      New customer             9         10
47        1      New customer             9         10
48        1      New customer             9         10
49        1      New customer             9         10
50        1      New customer            10         10
51        1      New customer            10         10
52        1      New customer            10         10
53        1      New customer            10         10
54        1      New customer            10         10
55        1      New customer            10         10
56        1      New customer            10         10
57        1      New customer            10         10
58        1      New customer            10         10
59        2  Regular customer             1         14
60        2  Regular customer             1         14
61        2  Regular customer             1         14
62        2  Regular customer             1         14
63        2  Regular customer             1         14
64        2  Regular customer             1         14
65        2  Regular customer             1         14
66        2  Regular customer             1         14
67        2  Regular customer             1         14
68        2  Regular customer             1         14
69        2  Regular customer             1         14
70        2  Regular customer             1         14
71        2  Regular customer             1         14
72        2  Regular customer             2         14
73        2  Regular customer             2         14
74        2  Regular customer             2         14
75        2  Regular customer             2         14
76        2  Regular customer             2         14
77        2  Regular customer             2         14
78        2  Regular customer             3         14
79        2  Regular customer             3         14
80        2  Regular customer             3         14
81        2  Regular customer             3         14
82        2  Regular customer             3         14
83        2  Regular customer             4         14
84        2  Regular customer             4         14
85        2  Regular customer             4         14
86        2  Regular customer             4         14
87        2  Regular customer             4         14
88        2  Regular customer             4         14
89        2  Regular customer             4         14
90        2  Regular customer             4         14
91        2  Regular customer             4         14
92        2  Regular customer             4         14
93        2  Regular customer             4         14
94        2  Regular customer             4         14
95        2  Regular customer             4         14
96        2  Regular customer             5         14
97        2  Regular customer             5         14
98        2  Regular customer             5         14
99        2  Regular customer             5         14