### 4.8 Task Questions

#### 02.

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# importing data frame
path = r'C:\Users\ali\OneDrive\Desktop\careerfoundry\Data Immersion\Achievement 4\15-08-2025 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared Data', 'ords_prods_merge_updated.pkl'))

In [4]:
ords_prods_merge.shape

(32404289, 17)

In [5]:
# grouping data
ords_prods_merge.groupby('department_id').agg({'order_number': 'mean'}).sort_values('order_number', ascending=False)

               order_number
department_id
21                22.902379
10                20.197148
18                19.310514
4                 17.811403
16                17.665606
2                 17.277920
7                 17.225802
19                17.177343
3                 17.170395
14                16.773669
13                16.583536
20                16.473447
6                 16.439806
11                16.176945
15                16.165037
9                 15.895474
12                15.887671
17                15.694469
1                 15.457838
8                 15.340650
5                 15.215751

#### 03.

##### When we calculated the order number mean on the subset we created for the exercise the top 5 departments in terms of number of orders were department 21, 10, 18, 16 and 3, when we aggregated the entire data frame in similar manner the results are quite similar with departments 21, 10, 18, 4 and 16 at the top.

#### 04.

In [6]:
# creating a column to record maximum number of orders by each customer
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [7]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,1,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average Orders,10
1,2539329,1,1,2,8,NaN,1,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average Orders,10
2,2539329,1,1,2,8,NaN,1,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average Orders,10
3,2539329,1,1,2,8,NaN,1,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average Orders,10
4,2539329,1,1,2,8,NaN,1,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average Orders,10
5,2398795,1,2,3,7,15.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average Orders,10
6,2398795,1,2,3,7,15.0,0,10258,2,0,Pistachios,117,19,3.0,Low-range product,Slowest days,Average Orders,10
7,2398795,1,2,3,7,15.0,0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Slowest days,Average Orders,10
8,2398795,1,2,3,7,15.0,0,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Slowest days,Average Orders,10
9,2398795,1,2,3,7,15.0,0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Slowest days,Average Orders,10
10,2398795,1,2,3,7,15.0,0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Slowest days,Average Orders,10
11,473747,1,3,3,12,21.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most Orders,10
12,473747,1,3,3,12,21.0,0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Slowest days,Most Orders,10
13,473747,1,3,3,12,21.0,0,10258,3,1,Pistachios,117,19,3.0,Low-range product,Slowest days,Most Orders,10
14,473747,1,3,3,12,21.0,0,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range product,Slowest days,Most Orders,10
15,473747,1,3,3,12,21.0,0,30450,5,0,Creamy Almond Butter,88,13,3.2,Low-range product,Slowest days,Most Orders,10
16,2254736,1,4,4,7,29.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average Orders,10
17,2254736,1,4,4,7,29.0,0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Slowest days,Average Orders,10
18,2254736,1,4,4,7,29.0,0,10258,3,1,Pistachios,117,19,3.0,Low-range product,Slowest days,Average Orders,10
19,2254736,1,4,4,7,29.0,0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Slowest days,Average Orders,10
20,2254736,1,4,4,7,29.0,0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Slowest days,Average Orders,10
21,431534,1,5,4,15,28.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most Orders,10
22,431534,1,5,4,15,28.0,0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Slowest days,Most Orders,10
23,431534,1,5,4,15,28.0,0,10258,3,1,Pistachios,117,19,3.0,Low-range product,Slowest days,Most Orders,10
24,431534,1,5,4,15,28.0,0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Slowest days,Most Orders,10
25,431534,1,5,4,15,28.0,0,10326,5,0,Organic Fuji Apples,24,4,2.7,Low-range product,Slowest days,Most Orders,10
26,431534,1,5,4,15,28.0,0,17122,6,0,Honeycrisp Apples,24,4,14.0,Mid-range product,Slowest days,Most Orders,10
27,431534,1,5,4,15,28.0,0,41787,7,0,Bartlett Pears,24,4,5.0,Low-range product,Slowest days,Most Orders,10
28,431534,1,5,4,15,28.0,0,13176,8,1,Bag of Organic Bananas,24,4,10.3,Mid-range product,Slowest days,Most Orders,10
29,3367565,1,6,2,7,19.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average Orders,10
30,3367565,1,6,2,7,19.0,0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average Orders,10
31,3367565,1,6,2,7,19.0,0,10258,3,1,Pistachios,117,19,3.0,Low-range product,Regularly busy,Average Orders,10
32,3367565,1,6,2,7,19.0,0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Average Orders,10
33,550135,1,7,1,9,20.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most Orders,10
34,550135,1,7,1,9,20.0,0,10258,2,1,Pistachios,117,19,3.0,Low-range product,Busiest days,Most Orders,10
35,550135,1,7,1,9,20.0,0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Busiest days,Most Orders,10
36,550135,1,7,1,9,20.0,0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Busiest days,Most Orders,10
37,550135,1,7,1,9,20.0,0,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Busiest days,Most Orders,10
38,3108588,1,8,1,14,14.0,0,12427,1,1,Original Beef Jerky,23,19,4.4,Low-range product,Busiest days,Most Orders,10
39,3108588,1,8,1,14,14.0,0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most Orders,10
40,3108588,1,8,1,14,14.0,0,10258,3,1,Pistachios,117,19,3.0,Low-range product,Busiest days,Most Orders,10
41,3108588,1,8,1,14,14.0,0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Busiest days,Most Orders,10
42,3108588,1,8,1,14,14.0,0,46149,5,0,Zero Calorie Cola,77,7,13.4,Mid-range product,Busiest days,Most Orders,10
43,3108588,1,8,1,14,14.0,0,49235,6,0,Organic Half & Half,53,16,1.8,Low-range product,Busiest days,Most Orders,10
44,2295261,1,9,1,16,0.0,0,49235,1,1,Organic Half & Half,53,16,1.8,Low-range product,Busiest days,Most Orders,10
45,2295261,1,9,1,16,0.0,0,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range product,Busiest days,Most Orders,10
46,2295261,1,9,1,16,0.0,0,25133,3,1,Organic String Cheese,21,16,8.6,Mid-range product,Busiest days,Most Orders,10
47,2295261,1,9,1,16,0.0,0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most Orders,10
48,2295261,1,9,1,16,0.0,0,10258,5,1,Pistachios,117,19,3.0,Low-range product,Busiest days,Most Orders,10
49,2295261,1,9,1,16,0.0,0,12427,6,1,Original Beef Jerky,23,19,4.4,Low-range product,Busiest days,Most Orders,10
50,2550362,1,10,4,8,30.0,0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average Orders,10
51,2550362,1,10,4,8,30.0,0,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range product,Slowest days,Average Orders,10
52,2550362,1,10,4,8,30.0,0,39657,3,0,Milk Chocolate Almonds,45,19,6.8,Mid-range product,Slowest days,Average Orders,10
53,2550362,1,10,4,8,30.0,0,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,Mid-range product,Slowest days,Average Orders,10
54,2550362,1,10,4,8,30.0,0,25133,5,1,Organic String Cheese,21,16,8.6,Mid-range product,Slowest days,Average Orders,10
55,2550362,1,10,4,8,30.0,0,10258,6,1,Pistachios,117,19,3.0,Low-range product,Slowest days,Average Orders,10
56,2550362,1,10,4,8,30.0,0,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,Low-range product,Slowest days,Average Orders,10
57,2550362,1,10,4,8,30.0,0,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Slowest days,Average Orders,10
58,2550362,1,10,4,8,30.0,0,12427,9,1,Original Beef Jerky,23,19,4.4,Low-range product,Slowest days,Average Orders,10
59,2168274,2,1,2,11,NaN,1,32792,1,0,Chipotle Beef & Pork Realstick,23,19,5.2,Mid-range product,Regularly busy,Most Orders,14

In [8]:
# Deriving a flag column based on max_order column
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876441
Loyal customer      10284025
New customer         6243823
Name: count, dtype: int64

In [10]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(60)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             1         10
2         1      New customer             1         10
3         1      New customer             1         10
4         1      New customer             1         10
5         1      New customer             2         10
6         1      New customer             2         10
7         1      New customer             2         10
8         1      New customer             2         10
9         1      New customer             2         10
10        1      New customer             2         10
11        1      New customer             3         10
12        1      New customer             3         10
13        1      New customer             3         10
14        1      New customer             3         10
15        1      New customer             3         10
16        1      New customer             4         10
17        1      New customer             4         10
18        1      New customer             4         10
19        1      New customer             4         10
20        1      New customer             4         10
21        1      New customer             5         10
22        1      New customer             5         10
23        1      New customer             5         10
24        1      New customer             5         10
25        1      New customer             5         10
26        1      New customer             5         10
27        1      New customer             5         10
28        1      New customer             5         10
29        1      New customer             6         10
30        1      New customer             6         10
31        1      New customer             6         10
32        1      New customer             6         10
33        1      New customer             7         10
34        1      New customer             7         10
35        1      New customer             7         10
36        1      New customer             7         10
37        1      New customer             7         10
38        1      New customer             8         10
39        1      New customer             8         10
40        1      New customer             8         10
41        1      New customer             8         10
42        1      New customer             8         10
43        1      New customer             8         10
44        1      New customer             9         10
45        1      New customer             9         10
46        1      New customer             9         10
47        1      New customer             9         10
48        1      New customer             9         10
49        1      New customer             9         10
50        1      New customer            10         10
51        1      New customer            10         10
52        1      New customer            10         10
53        1      New customer            10         10
54        1      New customer            10         10
55        1      New customer            10         10
56        1      New customer            10         10
57        1      New customer            10         10
58        1      New customer            10         10
59        2  Regular customer             1         14

#### 05.

In [11]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773556  1.0  25.0
New customer      7.801130  1.0  25.0
Regular customer  7.798202  1.0  25.0

##### Looking at this result we can see that the average spending of all three type of customers is almost the same.

#### 06.

In [12]:
# deriving a variable based on customer's order prices
ords_prods_merge['Average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [ ]:
ords_prods_merge.head(60)

In [25]:
# creating a flag column based on average price
ords_prods_merge.loc[ords_prods_merge['Average_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['Average_price'] >= 10, 'spending_flag'] = 'High spender'

In [23]:
ords_prods_merge.drop_duplicates('user_id')['spending_flag'].value_counts()

spending_flag
Low spender     202820
High spender      3389
Name: count, dtype: int64

In [28]:
total_users = ords_prods_merge['user_id'].nunique()

In [29]:
total_users

206209

In [30]:
# performing sainty check using quantiles
ords_prods_merge['Average_price'].describe()

count    3.240429e+07
mean     7.790946e+00
std      7.348239e-01
min      1.000000e+00
25%      7.378472e+00
50%      7.811902e+00
75%      8.229228e+00
max      2.320000e+01
Name: Average_price, dtype: float64

##### looking at the statistics above we can see that our threshold of 10 is too high thats why a huge number of customers are labeled as low spender.

In [31]:
ords_prods_merge = ords_prods_merge.drop('spending_flag', axis = 1)

In [32]:
# creating spending flag using 75th percentile
threshold = ords_prods_merge['Average_price'].quantile(0.75)  # ≈ 8.23

In [33]:
ords_prods_merge['spending_flag'] = ords_prods_merge['Average_price'].apply(
    lambda x: 'High spender' if x >= threshold else 'Low spender'
)

In [34]:
ords_prods_merge.drop_duplicates('user_id')['spending_flag'].value_counts()

spending_flag
Low spender     146293
High spender     59916
Name: count, dtype: int64

In [ ]:
ords_prods_merge[['user_id', 'spending_flag', 'Average_price']].head(60)

#### 07.

In [38]:
# deriving a variable based on customer's order frequency
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [ ]:
ords_prods_merge.head(60)

In [47]:
# creating a flag column based on order frequency
# Flag for non-frequent customers
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

# Flag for regular customers
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] > 10) & (ords_prods_merge['median_days_between_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

# Flag for frequent customers
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [45]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559233
Regular customer          7208688
Non-frequent customer     3636363
NaN                             5
Name: count, dtype: int64

In [46]:
ords_prods_merge[ords_prods_merge['order_frequency_flag'].isna()]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Average_price,median_days_between_orders,spending_flag,order_frequency_flag
25179605,895835,159838,1,0,17,NaN,1,22198,1,0,...,1.7,Low-range product,Busiest days,Average Orders,1,New customer,7.42,NaN,Low spender,NaN
25179606,895835,159838,1,0,17,NaN,1,23695,2,0,...,4.7,Low-range product,Busiest days,Average Orders,1,New customer,7.42,NaN,Low spender,NaN
25179607,895835,159838,1,0,17,NaN,1,10749,3,0,...,5.7,Mid-range product,Busiest days,Average Orders,1,New customer,7.42,NaN,Low spender,NaN
25179609,895835,159838,1,0,17,NaN,1,21334,5,0,...,10.2,Mid-range product,Busiest days,Average Orders,1,New customer,7.42,NaN,Low spender,NaN
25179610,895835,159838,1,0,17,NaN,1,33401,6,0,...,14.8,Mid-range product,Busiest days,Average Orders,1,New customer,7.42,NaN,Low spender,NaN

##### We have 5 rows which didnot get any order_frequency_flag, upon inspecting we find that there is one customer who has only placed one order hence NaN in days_since_prior order and thts why no median_days_since_prior_order are calculated for this customer.

In [48]:
# Handle customers with only one order (no median available)
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'].isna(), 'order_frequency_flag'] = 'One-time customer'

In [49]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559233
Regular customer          7208688
Non-frequent customer     3636363
One-time customer               5
Name: count, dtype: int64

In [ ]:
ords_prods_merge[['user_id', 'order_frequency_flag', 'median_days_between_orders']].head(60)

#### 09.

In [53]:
# Exporting the Dataframe
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_grouped.pkl'))